.nav {
  background: rgb(252, 253, 255);
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 5px;
  border-inline-end: rgb(84, 84, 88);

}

.btnNav {
  border-radius: 10px;
  background: #fefefefe;

}

Buttons : hover {
background: #a19e9efe;
}


.App-logo {
  height:40px;
  margin-right: 20px;
  margin-left: 4px;
 
}

.input {
  height: 40px;
  width: 636px;
  border-radius: 10px;
  background: #bbbbbbfe;
  padding: 0px 16px;

}

